.swiper {
  width: 880px;
  height: 460px;
  align-items: center;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 20px;
  object-fit: cover;
  z-index: -1;
}

.swiper-slide {
  width: 100%;
}

.swiper-slide:nth-child(2n) {
  width: 80%;
}

.swiper-slide:nth-child(3n) {
  width: 80%;
}