---
import SellCars from "@components/SellCars.astro";
import Layout from "../layouts/Layout.astro";
import WelcomeSection from "@components/WelcomeSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <WelcomeSection />
    <section>
      <SellCars />
    </section>
  </main>
</Layout>

<style></style>
