---
import SellCars from "@components/SellCars.astro";
import Layout from "../layouts/Layout.astro";
import WelcomeSection from "@components/WelcomeSection.astro";
---

<Layout title="Welcome to Astro.">
  <main>
<<<<<<< HEAD
    <WelcomeSection />
    <section>
      <SellCars />
    </section>
=======

>>>>>>> 879534dfdd8314044b45d0de5a53564ce455309b
  </main>
</Layout>

<style></style>
