---
import Nav from '../components/NavBaar.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>
		<Nav />
	<h1>Hola a todos</h1>
	</main>
</Layout>

<style>

</style>
