---
import FrontArrow from "./icons/FrontArrow.astro";
---

<figure class="md:flex mt-24 mb-24">
  <img
    class="w-full h-120 md:w-1/2 object-cover rounded-r-lg"
    src="../../public/img/ch-2.webp"
    alt="Electric SUV"
  />
  <figcaption class="p-14 md:w-1/2">
    <h2 class="text-4xl font-bold py-16 text-black">EVs For Everyone</h2>
    <p class="text-black text-wrapp mt-4 mb-9">
      We Provide Many Of The Best Services For You And You Will Get The Best
      Benefits Here
    </p>
    <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
      <a
        href="https://github.com/themesberg/landwind"
        class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-white-900 border rounded-full sm:w-auto hover:bg-black-300 bg-main-blue"
      >
        Ordena ahora!
        <FrontArrow />
      </a>
    </div>
  </figcaption>
</figure>
