---
import FrontArrow from "./icons/FrontArrow.astro";
---

<section class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16 mb-8 relative">
  <div class="bg-gray flex-100 items-center justify-center">
    <div class="flex items-stretch">
      <div
        class="bg-white p-8 w-64 shadow-lg rounded-lg overflow-hidden -mr-8 z-0"
        style="box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2), 0 -4px 8px -2px rgba(0, 0, 0, 0.2);"
      >
        <h2 class="text-2xl font-semibold">Car shop</h2>
        <span class="text-gray-600 font-semibold">beto puto</span>
        <p class="mt-4 text-gray-700">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit.
        </p>
        <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4 mt-6">
          <a
            href="#"
            class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-white-900 border rounded-full sm:w-auto hover:bg-black-300 bg-black"
          >
            Ordena ahora!
            <!-- Assuming <FrontArrow /> is a component or icon you want to include -->
            <FrontArrow />
          </a>
        </div>
      </div>
      <div
        class="w-64 bg-cover bg-center shadow-lg rounded-lg my-5"
        style="background-image: url(https://i.blogs.es/f46982/bocchi-the-rock/1366_2000.jpeg);"
      >
      </div>
    </div>
  </div>
</section>
