---
import FrontArrow from "./icons/FrontArrow.astro";
import FerrariLogo from "./logos/FerrariLogo.astro";
import LamboLogo from "./logos/LamboLogo.astro";
import BmwLogo from "./logos/BmwLogo.astro";
import MercesLogo from "./logos/MercesLogo.astro";
import LotusLogo from "./logos/LotuLogo.astro";
import AudiLogo from "./logos/AudiLogo.astro";
---

<section class="mb-10">
  <div
    class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl text-main-blue mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl aos-init"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        Descubre la elegancia en cada detalle.
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-main-blue lg:mb-8 md:text-lg lg:text-xl aos-init"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Explora la fusión perfecta entre lujo y excelencia en nuestros autos
        exclusivos. Cada viaje es una experiencia extraordinaria, donde la
        sofisticación se encuentra con la carretera. Bienvenido al placer de
        conducir elevado a un arte.
      </p>

      <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <a
          href="https://github.com/themesberg/landwind"
          class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-white-900 border rounded-full sm:w-auto hover:bg-black-300 bg-main-blue"
        >
          Ordena ahora!
          <FrontArrow />
        </a>
      </div>
    </div>

    <div class="hidden lg:mt-[-40px] lg:col-span-5 lg:flex">
      <img
        class="aos-init"
        data-aos="fade-left"
        data-aos-duration="1000"
        src="../../public/img/lam3.png"
        alt="hero image"
      />
    </div>
  </div>
</section>
<!-- End block -->

<section class="aos-init mb-10" data-aos="fade-up" data-aos-duration="1000">
  <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
    <div class="flex items-center justify-center mb-20 mx-auto">
      <!-- Modifica esta línea -->
      <div class="w-20 mx-1 border-b-2 border-gray-300"></div>
      <h1 class="text-4xl px-3 flex font-md text-main-red font-bold">Marcas</h1>
      <div class="w-20 mx-1 border-b-2 border-gray-300"></div>
    </div>

    <div
      class="grid grid-cols-2 gap-6 text-gray-400 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6"
    >
      <a href="#" class="hola flex items-center lg:justify-center">
        <AudiLogo class="logosaudi h-16 w-46" fill="currentColor" />
      </a>
      <a href="#" class="hola flex items-center lg:justify-center">
        <FerrariLogo class="logosFer h-16" fill="currentColor" />
      </a>
      <a href="#" class="hola flex items-center lg:justify-center">
        <LamboLogo class="logosLam h-16" fill="currentColor" />
      </a>

      <a href="#" class="hola flex items-center lg:justify-center">
        <BmwLogo class="logosBen h-16" fill="currentColor" />
      </a>
      <a href="#" class="hola flex items-center lg:justify-center">
        <MercesLogo class="logosMerce h-16" fill="currentColor" />
      </a>
      <a href="#" class="hola flex items-center lg:justify-cente">
        <LotusLogo class="logoslotu h-16" fill="currentColor" />
      </a>
    </div>
  </div>
</section>

<style>
  .hola {
    transition: transform 0.3s ease-in-out;
    cursor: pointer; /* o el color que tenga tu SVG en estado normal */
  }

  .hola:hover {
    transform: scale(1.2);
  }
  .logoslotu:hover {
    fill: black; /* o el color que desees */
  }
  .logosMerce:hover {
    fill: black; /* o el color que desees */
  }
  .logosaudi:hover {
    fill: black;
  }
  .logosFer:hover {
    fill: black;
  }
  .logosLam:hover {
    fill: black;
  }
  .logosBen:hover {
    fill: black;
  }
</style>
