---
import FrontArrow from "./icons/FrontArrow.astro";
import FerrariLogo from "./logos/FerrariLogo.astro";
import KoenigseggLogo from "./logos/KoenigseggLogo.astro";
import LamboLogo from "./logos/LamboLogo.astro";
import PaganiLogo from "./logos/PaganiLogo.astro";
import LotusLogo from "./logos/LotusLogo.astro";
import MclarenLogo from "./logos/MclarenLogo.astro";
---

<section class="mb-16">
  <div
    class="grid max-w-screen-xl px-4 pt-20 pb-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 lg:pt-28"
  >
    <div class="mr-auto place-self-center lg:col-span-7">
      <h1
        class="max-w-2xl text-sky-500 mb-4 text-4xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl aos-init"
        data-aos="fade-down"
        data-aos-duration="1000"
      >
        Descubre la elegancia en cada detalle.
      </h1>
      <p
        class="max-w-2xl mb-6 font-light text-sky-700 lg:mb-8 md:text-lg lg:text-xl aos-init"
        data-aos="fade-right"
        data-aos-duration="1000"
      >
        Explora la fusión perfecta entre lujo y excelencia en nuestros autos
        exclusivos. Cada viaje es una experiencia extraordinaria, donde la
        sofisticación se encuentra con la carretera. Bienvenido al placer de
        conducir elevado a un arte.
      </p>

      <div class="space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
        <a
          href="#"
          class="inline-flex items-center justify-center w-full px-5 py-3 text-sm font-medium text-center text-white-900 border rounded-full sm:w-auto hover:bg-black-300 bg-black"
        >
          Ordena ahora!
          <FrontArrow />
        </a>
      </div>
    </div>

    <div class="hidden lg:mt-[-40px] lg:col-span-5 lg:flex">
      <img
        class="aos-init"
        data-aos="fade-left"
        data-aos-duration="1000"
        src="../../public/img/lam3.png"
        alt="hero image"
      />
    </div>
  </div>
</section>
<!-- End block -->

<section class="aos-init mb-16" data-aos="fade-up" data-aos-duration="1000">
  <div class="max-w-screen-xl px-4 pb-8 mx-auto lg:pb-16">
    <h1
      class="text-4xl mb-14 flex justify-center items-center text-center font-md mt-4 text-black"
    >
      Marcas
    </h1>
    <div
      class="grid grid-cols-2 gap-6 text-gray-400 sm:gap-12 sm:grid-cols-3 lg:grid-cols-6"
    >
      <a href="#" class="flex items-center lg:justify-center hover:text-black">
        <KoenigseggLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>
      <a href="#" class="flex items-center lg:justify-center hover:text-black">
        <FerrariLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>
      <a href="#" class="flex items-center lg:justify-center hover:text-black">
        <LamboLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>

      <a href="#" class="flex items-center lg:justify-center hover:text-black">
        <PaganiLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>
      <a href="#" class="flex items-center lg:justify-center hover:text-black">
        <LotusLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>
      <a href="#" class="flex items-center lg:justify-cente hover:text-black">
        <MclarenLogo
          class="h-16 transform hover:scale-105 transition-transform duration-500 ease-in-out filter grayscale-100 hover:grayscale-0"
        />
      </a>
    </div>
  </div>
</section>
