---
interface Props {
  title: string;
}
import HeaderNav from "./HeaderNav.astro";
const { title } = Astro.props;
import Footer from "./Footer.astro";
import Login from "../components/Login.astro";
import Register from "../components/Register.astro";
import OurServices from "../components/OurServies.astro";
import "@fontsource-variable/onest";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="relartive text-white dark:text-white">
    <div class="absolute top-0 -z-10 h-full w-full bg-white">
      <div
        class="absolute bottom-auto left-auto right-0 top-0 h-[500px] w-[500px] -translate-x-[30%] translate-y-[20%] rounded-full bg-[rgba(197,158,242,0.5)] opacity-50 blur-[80px]"
      >
      </div>
    </div>
    <HeaderNav />
    <slot />
    <OurServices class="mt-8" />
  </body>
  <footer>
    <Footer class="py-8" />
  </footer>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;
  }
</style>
