---
interface Props {
  title: string;
}
import HeaderNav from "./HeaderNav.astro";
const { title } = Astro.props;
import Footer from "./Footer.astro";
import "@fontsource-variable/onest";
import WelcomeSection from "../components/WelcomeSection.astro";
import CardsBlogs from "../components/CardsBlogs.astro";
import OurServies from "../components/OurServies.astro";
import SectionCar from "@components/SectionCar.astro";
import CardComentrary from "@components/CardComentrary.astro";
import Login from "@components/Login.astro";
import { ViewTransitions } from "astro:transitions";
import { CarrouselGallery } from "@components/CarrouselGallery";
import BackgroundBubles from "@components/BackgroundBubles.astro";
import Carrusel from "@components/Carrusel.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>

  <body class="relartive text-white">
    <div class="absolute top-0 -z-10 h-full w-full bg-white">
      <div>
        <BackgroundBubles />
      </div>
    </div>
    <header>
      <HeaderNav />
    </header>
    <main>
      <section>
        <WelcomeSection />
      </section>
      <section class="bg-gray-100"></section>
      <section>
        <div
          class="absolute bottom-auto left-auto right-0 top-0 h-[190px] w-[190px] -translate-x-[50%] translate-y-[900%] rounded-full bg-gradient-to-br from-cyan-300 to-purple-500 opacity-60 blur-[95px]"
        >
        </div>
        <OurServies />
      </section>
      <section>
        <SectionCar />
      </section>
      <section>
        <CardComentrary />
      </section>
      <section>
        <CardsBlogs />
      </section>
    </main>
    <footer>
      <Footer />
    </footer>

    <style is:global>
      :root {
        color-scheme: light;
      }
      html {
        font-family: "Onest Variable", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
